<!DOCTYPE html>
<html>
    <head>
        <title>WhatsAppSync</title>

        <!-- stylesheets -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        <!-- scripts -->
        <script src="js/finish.js"></script>
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124216952-1"></script> -->
        <!-- <script defer src="js/analytics.js"></script> -->
    </head>
    <body>
        <script>
            var user = "<%= user %>";
            checkProgress(user);
        </script>
        <div class="navbar">
            <div id="logo">WhatsAppSync</div>
        </div>

        <div id='content'>
            <section id='instructions' class="section">
				Progress- <h1 id='progress'></h1>
            </section>
		   
			<section id="section3" class="section">
                bklqjklwejfklewjkljkglrkllgr
            </section>
        </div>

        <footer>
            <div>
                Not affiliated with WhatsApp and we don't host any of the WhatsApp profile pictures on this website, all rights belong to their respective owners.<br />
                2018 © WhatsAppSync
            </div>
        </footer>
        
        <!-- Scripts -->
        <script defer src="lib/jquery/js/jquery-3.2.1.min.js"></script>
	</body>
</html>