<!DOCTYPE html>
<html>
    <head>
        <!-- stylesheets -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        <!-- SEO -->
        <title>WhatsAppSync</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Whatsapp photos to your google contacts">
        <meta name="author" content="Yonatan Kreiner">
        <meta name="robots" content="index,follow" />
    </head>
    <body>
        <script>
            var user = "<%= user %>";
        </script>
        <div class="navbar">
            <div id="logo">WhatsAppSync</div>
        </div>

        <div id='content'>
            <section id='instructions' class="section">
                Progress-
                <div id="progressBar">
                    <div id="progress">10%</div>
                </div>
            </section>
        </div>

        <footer>
            <div>
                Not affiliated with WhatsApp and we don't host any of the WhatsApp profile pictures on this website, all rights belong to their respective owners.<br />
                2018 © WhatsAppSync
            </div>
        </footer>

        <!-- scripts -->
        <script defer src="lib/jquery/js/jquery-3.2.1.min.js"></script>
        <script defer src="js/finish.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124216952-1"></script>
        <script defer src="js/analytics.js"></script>
	</body>
</html>